@import "../../styles/utilities.scss";

.splash {
  width: 90%;
  margin: auto;
  display: block;
}

.hello {
  &__arrow {
    display: block;
    width: 18vw;
    height: 18vw;
    border: solid $burnt-orange;
    border-width: 4px 0 0 4px;
    padding: 4px;
  }
  &__text {
    display: inline-flex;
    position: relative;
    width: 100%;
    &__text {
      width: 80%;
      font-family: "mystic", cursive;
      font-size: 21vw;
      text-transform: uppercase;
      color: $burnt-orange;
      margin: 0;
    }

    &__sticker {
      width: 30%;
      display: flex;
      align-items: flex-start;
      transform: translate(-24%, 14%);
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &__world {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -6vw;
    &__text {
      color: $blue;
      margin: 0;
      font-family: "mystic", cursive;
      display: inline-flex;
      position: relative;
      width: 90%;
      font-size: 21vw;
      text-transform: uppercase;
      color: transparent;
    }
    &___dot {
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
      background-color: $blue;
    }
  }

  &_about {
    p {
      font-family: "Montserrat", sans-serif;
      text-align: justify;
      text-justify: inter-word;
      color: $light-gray;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
    }
  }
}

.sticker {
  width: 20%;
  margin-top: 1rem;

  img {
    animation: rotateSticker 3s linear infinite;
    width: 100%;
    height: auto;
  }
}

@keyframes rotateSticker {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.welcome {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  transform: translate(0, -56px);
  &__pic {
    width: 67%;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__text p {
    font-family: "Yeseva One", cursive;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 19vw;
    color: $pure-white;
  }
}

.abilities {
  width: 100%;
  display: block;
  margin: 1rem 0px 1rem 0px;

  &__line {
    border: none;
    border-top: 3px dashed $washed-black;
    margin: 0px 0.5rem 0px 0.5rem;
  }

  &__display {
    font-family: "Yeseva One", cursive;
    display: inline-flex;
    position: relative;
    font-size: 4vw;
    text-transform: uppercase;
    color: $burnt-orange;
    margin: 0;
  }

  &__soft {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: $burnt-orange;
    font-size: 4vw;
  }

  span {
    width: 100%;
    display: inline-flex;
    align-items: center;
  }
}

@media (min-width: 780px) {
  .splash {
    display: flex;
    .hello {
      width: 50%;
      &__arrow {
        height: 8vh;
        width: 8vh;
      }
      &__text {
        &__text {
          font-size: 11vw;
        }
      }
      &__world {
        margin-top: -4vw;
        &___dot {
          width: 2vw;
          height: 2vw;
        }
        &__text {
          -webkit-text-stroke: 1px $washed-black;

          font-size: 11vw;
        }
      }
    }
    .sticker {
      width: 20%;
    }
    .welcome {
      transform: translate(0, 0);
      width: 50%;
      &__text p {
        font-size: 9vw;
      }
    }
    .abilities {
      &__display {
        font-size: 2vw;
      }
      &__soft {
        font-size: 1.5vw;
      }
    }
  }
}
