@import "../../styles/utilities.scss";

.navBar {
  width: 100%;
  display: flex;
  height: 9vh;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  a {
    text-decoration: none;
    color: $blue;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: center;
    text-transform: uppercase;
    &:hover {
      font-weight: 800;
      color: $burnt-orange;
    }
  }
  &__links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: center;
    text-transform: uppercase;
    li {
      padding-right: 20px;
    }
    li:last-child {
      padding-right: 0px;
    }
  }
}

@media (min-width: 780px) {
  .navBar {
    &__links {
      width: 40%;
      font-size: 1.3rem;

      a {
        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}
