
$dark-gray: rgb(31,31,31);
$orange: rgb(232,78,15);
$blue: rgb(0,70,240);
$white:rgb(242,242,242);
$light-gray:rgb(179,179,179);

$off-white:rgb(230,230,230);
$burnt-orange: rgb(186,87,40);
$washed-black: rgb(31,31,31);
$pure-white: rgb(255, 255, 255);



